@model Exercicio_03.Models.Produto

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}


@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(p => p.Titulo)
        @Html.TextBoxFor(p => p.Titulo, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Valor)
        @Html.TextBoxFor(p => p.Valor, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.DataCadastro)
        @Html.TextBoxFor(p => p.DataCadastro, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.)
        @Html.TextAreaFor(c => c.EstadoCivil, new { placeholder = "Digite seu estado civil", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.DataNascimento)
        @Html.TextBoxFor(c => c.DataNascimento, new { @type = "date", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.CheckBoxFor(c => c.NecessidadesEspeciais)
        @Html.LabelFor(c => c.NecessidadesEspeciais)
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>

}
